<html>
<body>
<h3>Hi ${user.name} ${user.surname}, welcome to the Sea Battle game!</h3>
<div>
Your login is ${user.login}.
</div>
<div>
Your email address is ${user.email}.
</div>
<div>
To activate your account go follow the link <a href='http://${host}/register.htm?action=activate&amp;login=${user.login}&amp;locale=${locale}'>http://${host}/register.htm?action=activate&amp;login=${user.login}</a>
</div>
</body>
</html>